{% extends 'webssh/base.html' %}
{% load static %}
{% block title %}主机帐号{% endblock %}

{% block css %}
    <link href="{% static 'plugins/xterm-3.9.1/xterm.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            主机帐号
            <small>HostUser List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">主机帐号</li>
        </ol>
        <hr/>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="table-responsive">
            <table id="host_table" class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>主机名称</th>
                    <th>IP地址</th>
                    <th>端口</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% if remote_user_bind_hosts %}
                    {% for item in remote_user_bind_hosts %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.host.hostname }}</td>
                            <td>{{ item.host.ip }}</td>
                            <td>{{ item.host.port }}</td>
                            <td>{{ item.remote_user.remote_username }}</td>
                            <td>
                                <span class="hidden">{{ item.id }}</span>
                                <button type="button" class="btn btn-success">连接</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>没有可用帐号</tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <div id="term"></div>
        <div id="disconnect">
            <button type="button" class="btn btn-danger">关闭连接</button>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/term.js' %}"></script>#}
    <script src="{% static 'plugins/xterm-3.9.1/xterm.js' %}"></script>
    <script src="{% static 'js/webssh.js' %}"></script>
    <script>
        $(function () {
            /******************** page funcs ********************/
            var wsClient = null;

            $('#disconnect').hide();

            $('#disconnect button').click(function () {
                $('#term').empty();
                $('div.table-responsive').show();
                $('#disconnect').hide();
                if (wsClient) {
                    wsClient.close()
                }
            });

            $('#host_table button').click(function () {
                $('div.table-responsive').hide();
                $('#disconnect').show();
                let desId = $(this).parent().children().first().text();
                let options = {
                    des_id: desId
                };
                openTerminal(options);
            });

            /******************** datatables ********************/
            $('#host_table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "oLanguage": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "没有可用账号",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                }
            });

            /******************** terminal ********************/
            function openTerminal(options) {
                //创建websocket通道
                wsClient = new WebSSHClient();
                let term = new Terminal();
                term.open(document.getElementById('term'));
                term.write('开始连接......');
                term.on('data', function (key) {
                    wsClient.send(key);
                });
                wsClient.connect(
                    $.extend(options,
                        {
                            onError: function (error) {
                                term.write('错误： ' + error + '\r\n');
                            },
                            onConnect: function () {
                                term.write('\r');
                            },
                            onClose: function () {
                                term.write('\r');
                                term.write('服务器断开了连接.......');
                                // term.destroy()
                            },
                            onData: function (data) {
                                term.write(data);
                            }
                        }
                    )
                );

            }
        });
    </script>
{% endblock %}