#term {
    margin-top: -20px;
}

.terminal {
    border: #000 solid 5px;
    font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;
    background: #000;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
}


hr {
    border-bottom: 1px dotted black;
}

#host_table td {
    font-size: large;
}

